<footer>
     <div class="logo-container">
    <img src="/Logo_tu_conexion.png" alt="" class="logo">

    <h1>TU CONEXION PURA</h1>
    </div>
    <div class="social-media">
        <ul>
            <li>Contactenos: <a href="https://wa.me/573043772029?text=Hola%2C%20estoy%20interesado%20en%20sus%20servicios"><i class="bi bi-whatsapp"></i></a></li>
            <li>Nuestras Redes: <a href="https://www.instagram.com/tuconexionpura?igsh=dHB5cWgzM2MyemFw"><i class="bi bi-instagram"></i></a></li>
        </ul>
    </div>
</footer>
