footer{
    background-color: #ffffff9d;
  color: black;
  margin: 10px;
  border-radius: 20px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer .logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 80px;
}

.logo-container img{
    height: 100px;
    border-radius: 20%;
}
footer h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer .social-media{
    padding: 10px 80px 10px 10px;
}

footer ul li{
    font-size: 20px;
    margin: 5px 0;
    padding: 5px 50px 5px 5px;
}

footer ul li a:hover {
  text-decoration: underline;
  color: #d4a373;
  font-weight: bold;
  transition: 0.3s;
}

footer ul li a i{
    margin-left: 20px;
}

footer

.bi{
    color: gray;
}

@media screen and (min-width: 300px) and (max-width: 480px){
  footer{
    flex-direction: column;
    max-width: 90%;
    margin: 0px auto;
  }

  footer .logo-container {
  padding: 10px;
}
}