nav {
  background-color: #ffffff;
  opacity: 0.95;
  color: black;
  margin: 10px;
  border-radius: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0px;
  z-index: 100;
}
.logo-container {
  display: flex;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 25px;
}

.logo {
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
}

.button_menu{
  border: none;
  background-color: transparent;
  display: none; 
}

.button_menu .bi{
  font-size: 30px;
}

.menu {
  margin-right: 40px;
  font-size: 20px;
}

.button_close_menu{
  border: none;
  background-color: transparent;
  display: none;
}

.menu_ul {
  display: flex;
  gap: 20px;
}

a {
  color: black;
}

.menu li a:hover {
  text-decoration: underline;
  color: #d4a373;
  font-weight: bold;
  transition: 0.3s;
}

@media screen and (max-width: 700px){

  .logo-container h1{
    font-size: 20px;
  }

  .logo-container .logo{
    height: 50px;
    margin-right: 5px;
  }

  .button_menu{
    display: block;
  }

 .menu{
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px;
    background-color: #ffffff;
    opacity: 1;
    padding: 20px;
    border-radius: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap:10px
  }

  .menu .visible{
    opacity: 1;
    visibility: visible;

  }

  .button_close_menu{
    display: block;
  }

  .menu_ul{
    flex-direction: column;
    gap: 10px;
    margin-right: 0px;
    align-items: end;
  }

}