<nav>
  <div class="logo-container">
    <img src="/Logo_tu_conexion.png" alt="" class="logo" />

    <h1>TU CONEXION PURA</h1>
  </div>
  <button class="button_menu" id="open_menu" (click)="openMenu()"><i class="bi bi-list"></i></button>

  <div class="menu" [class.visible]="!menuOpen">
    <button class="button_close_menu" id="cerrar" (click)="closeMenu()"><i class="bi bi-x-square"></i></button>
    <ul class="menu_ul">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="Quien_Soy">Quién Soy</a></li>
      <li><a routerLink="Servicios">Servicios</a></li>
    </ul>
  </div>
</nav>
