
.testimonial_item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
  gap: 20px;
}

.testimonial_item img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: #d4a373 4px solid;
}

.testimonial_item .testimonial_text {
max-width: 700px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.testimonial_item .testimonial_text h3 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}
.testimonial_item .testimonial_text p {
  font-size: 16px;
  color: black;
}

@media screen and (min-width: 300px) and (max-width: 480px){
    .testimonial_item {
        flex-direction: column;
    }
}