<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <!-- <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button> -->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="testimonial_item">
        <img src="/Testigo_1.jpg" alt="" />
        <div class="testimonial_text">
          <h3>Tatiana Melo</h3>
          <p>
            Las meditaciones y talleres con Lini han sido una experiencia
            transformadora. A través de su conexión con los ángeles, ella
            transmite mensajes llenos de sabiduría, lucidez y amor que tocan el
            alma. En cada espacio que comparte, invita a mirar hacia adentro, a
            reconocer las emociones, a soltarlas y a abrir el corazón a la
            energía divina.<br /><br />Su acompañamiento me ha ayudado a
            encontrar claridad, serenidad y una paz profunda. Lini tiene un don
            especial para canalizar la luz y traducirla en palabras que guían,
            inspiran y reconfortan.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="testimonial_item">
        <img src="/testimonio_3.jpg" alt="" />
        <div class="testimonial_text">
          <h3>Marcela Hurtado</h3>
          <p>
            Quiero expresar mi agradecimiento a Lina Paola por la hermosa sesión
            que compartimos. Fue una experiencia gratificante, interesante y
            llena de aprendizaje. Su energía, empatía y pasión se reflejan en
            cada palabra y acción. <br /><br />
            Recomiendo plenamente vivir esta experiencia con ella. Sin duda, una
            sesión que deja huella y motiva a seguir transformándonos.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="carousel-item">
      <div class="testimonial_item">
        <img src="/Testigo_2.jpg" alt="" />
        <div class="testimonial_text">
          <h3>Camila Riveros</h3>
          <p>
            La sesión de alineación de chakras con Lina fue una experiencia
            profundamente sanadora. Desde el primer momento sentí una energía de
            paz, contención y luz que me envolvió por completo, permitiéndome
            relajarme y abrirme al proceso. Su guía amorosa me ayudó a
            reconectar con mi cuerpo y mis emociones, liberando bloqueos que ni
            siquiera sabía que tenía. Al finalizar, sentí una profunda armonía
            interior, ligereza y claridad. Hablar con ella siempre trae calma,
            comprensión y la sensación de estar en presencia de una luz que guía
            y acompaña. Gracias por compartir tu don con tanta entrega y amor.
          </p>
        </div>
      </div>
    </div> -->
        <div class="carousel-item">
      <div class="testimonial_item">
        <img src="/Testigo_2.jpg" alt="" />
        <div class="testimonial_text">
          <h3>Camila Riveros</h3>
          <p>
            La sesión de alineación de chakras con Lina fue una experiencia
            profundamente sanadora. Desde el primer momento sentí una energía de
            paz, contención y luz que me envolvió por completo, permitiéndome
            relajarme y abrirme al proceso. Su guía amorosa me ayudó a
            reconectar con mi cuerpo y mis emociones, liberando bloqueos que ni
            siquiera sabía que tenía. Al finalizar, sentí una profunda armonía
            interior, ligereza y claridad. Hablar con ella siempre trae calma,
            comprensión y la sensación de estar en presencia de una luz que guía
            y acompaña. Gracias por compartir tu don con tanta entrega y amor.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
