<div class="background_modal_calendar">
  <!-- Google Calendar Appointment Scheduling begin -->
 <div class="container_calendar">
       <div class="close-button">
      <button (click)="close.emit()">
        <i class="bi bi-x-square-fill"></i>
      </button>
    </div>
  <iframe
    src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3mhpd8j2NPEL_XzHGrGgMclhwTZvYqbEO1IIxaXLPOFGzwsvLnWtLVIpUJfxDH8c2r6dO0FTV6?gv=true"
    style="border: 0"
    width="100%"
    height="600"
    frameborder="0"
  ></iframe>
  <!-- end Google Calendar Appointment Scheduling -->
   </div>
</div>
