<div class="background_modal_calendar">
  <div class="container_calendar">
    <div class="close-button">
      <button (click)="close.emit()">
        <i class="bi bi-x-square-fill"></i>
      </button>
    </div>
    <h1>Pre - Agenda tu cita</h1>
    <iframe
      src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0042ULrD00i7x2xBXsglOyqwBYtjE9RVgbcb40fFW5P-_Ihci3DGGCEUXYXVPRKhfEsaqv1Zuz?gv=true"
      style="border: 0"
      width="100%"
      height="600"
      frameborder="0"
    ></iframe>
  </div>
</div>
