section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1{
    font-size: 40px;
    margin: 20px 0px;
    text-decoration: underline;
}

.section_container_1{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 60px auto 60px auto;
}

.section_container_1 img{
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -60px;
    left: 30px;
}

.section_container_1 .section_text{
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);}

.section_text{
    max-width: 70%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 20px 60px 30px 60px;
}

.section_text h2{
    font-size: 30px;
    margin: 20px 0px;
    text-align: center;
}

.section_button{
    display: flex;
    justify-content: end;
    align-items: center;
}

.section_button button{
 width: 220px;
    background-color: #CCD5AE;
    font-family: "Amaranth", sans-serif;;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.section_button button:hover{
    background-color: #D4A373;
    transition: 0.3s;
}

.section_container_2{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 60px auto 60px auto;
}

.section_container_2 .section_text{
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.3);
}

.section_container_2 img{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -60px;
    right: 30px;
}

.section_container_3{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 60px auto 60px auto;
}

.section_container_3 .section_text{
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}

.section_container_3 img{
    width: 350px;
    height: 450px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -80px;
    left: 30px;
}

.section_container_4{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 60px auto 60px auto;
}

.section_container_4 .section_text{
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.3);
}

.section_container_4 img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -60px;
    right: 30px;
}

.section_container_5{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 80px auto 60px auto;
}

.section_container_5 .section_text{
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}

.section_container_5 img{
    width: 350px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -80px;
    left: 30px;
}

.section_container_6{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 60px auto 60px auto;
}

.section_container_6 .section_text{
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.3);
}

.section_container_6 img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -60px;
    right: 30px;
}

@media screen and (min-width: 300px) and (max-width: 480px){
.section_container_1{
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.section_container_1 img{
    height: 200px;
    width: 200px;
    top: 30px;
    left: -30px;

}

.section_text{
    max-width: 95%;
    margin: 0px 10px 0px 10px;
    padding: 40px;
}

.section_container_2{
flex-direction: column-reverse;
align-items: center;
    margin: 20px auto 20px auto;
}

.section_container_2 img{
    width: 200px;
    height: 250px;
    margin-bottom: 0px;
    top: 30px;
    right: -60px;
}

.section_container_3{
 flex-direction: column;
 align-items: center;
    margin: 20px auto 20px auto;
}

.section_container_3 img{
    width: 200px;
    height: 300px;
    margin-bottom: 0px;
    top: 30px;
    left: -30px;
}

.section_container_4{
flex-direction: column-reverse;
align-items: center;
    margin: 20px auto 20px auto;
}

.section_container_4 img{
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
    top: 20px;
    right: -50px;
}

.section_container_5{
flex-direction: column;
align-items: center;
    margin: 20px auto 20px auto;
}

.section_container_5 img{
    width: 250px;
    height: 200px;
    margin-bottom: 0px;
    top: 20px;
    left: -30px;
}

.section_container_6{
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px auto 20px auto;
}

.section_container_6 img{
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
    top: 20px;
    right: -50px;
}

}