<div class="home-container">
  <section>
    <div class="intro">
      <div class="logo_intro">
        <img src="/Logo_tu_conexion.png" alt="" />
      </div>
      <div class="text_intro">
        <h2>Tu conexión Pura</h2>
        <p>
          Es un espacio creado para reconectar con tu esencia, sanar desde el
          amor y recordar que siempre estamos acompañados por la guía divina.
          Nació del deseo profundo de abrir caminos de luz, donde cada persona
          pueda encontrar respuestas, claridad y la fuerza para transformar su
          vida. Este proyecto surgió de mi propia búsqueda interior y del
          llamado de los ángeles a compartir herramientas de sanación,
          autoconocimiento y crecimiento espiritual. Tu Conexión Pura es la
          invitación a mirarte con amor, liberar lo que ya no te sirve y
          reencontrarte con la paz y la confianza en tu propio camino
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="services">
      <img src="/Servicios.png" alt="" />

      <div>
        <h2>Nuestros Servicios</h2>
        <div class="services_list">
          <div class="service_item">
            <h3>Armonización Energética</h3>
            <p>
              Restaura el equilibrio de tu energía, liberando bloqueos y
              recargando tu campo vibracional para sentirte en paz, liviano y
              renovado.
            </p>
          </div>
          <div class="service_item">
            <h3>Clases de Meditación</h3>
            <p>
              Un viaje amoroso hacia tu esencia más pura, para liberar heridas
              del pasado y recuperar la inocencia, la alegría y la confianza.
            </p>
          </div>
          <div class="service_item">
            <h3>Sanación del Niño Interior</h3>
            <p>
              Un viaje amoroso hacia tu esencia más pura, para liberar heridas
              del pasado y recuperar la inocencia, la alegría y la confianza.
            </p>
          </div>
          <div class="service_item">
            <h3>Sanación de la Relación con Padre y Madre</h3>
            <p>
              Un proceso profundo de reconciliación y liberación, para
              transformar creencias heredadas y construir relaciones más sanas
              contigo y con los demás.
            </p>
          </div>
          <div class="service_item">
            <h3>Consulta Angelical</h3>
            <p>
              Canalización de mensajes y guía de los ángeles, que te brindan
              claridad, respuestas y acompañamiento en tu camino.
            </p>
          </div>
          <div class="service_item">
            <h3>Acompañamiento Holístico Integral</h3>
            <p>
              Un proceso personalizado de varias sesiones que integra diferentes
              herramientas de sanación, diseñado para acompañarte en tu
              crecimiento personal y espiritual.
            </p>
          </div>
        </div>
        <div class="services_action">
          <button (click)="goToServices()">Más info</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="about_me">
      <div class="about_me_container">
        <h2>Tu Terapeuta Holistica</h2>
        <p>
          Soy Lina Rojas, canalizadora y guía en procesos de sanación espiritual
          y personal. Acompaño a las personas a reconectar con su esencia a
          través de la energía, los ángeles y la conciencia amorosa.
        </p>
        <div class="about_me_action">
          <button (click)="goToAboutMe()">Conoce más</button>
        </div>
      </div>
      <div>
        <img src="/Terapeuta.png" alt="" />
      </div>
    </div>
  </section>

  <section>
    <div class="testimonials">
      <h2>Quienes me Recomiendan</h2>
      <div class="testimonial_container">
        <div class="testimonial_item">
          <img src="/Testigo_1.png" alt="" />
          <div class="testimonial_text">
            <h3>Persona_1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium non est scelerisque suscipit. Suspendisse ultricies risus rutrum, tempor lacus in, condimentum leo. Suspendisse convallis dictum risus ac egestas. Fusce rutrum ex vel turpis tristique, non mollis sem interdum. Nam.</p>
          </div>
        </div>
        <div class="testimonial_item">
          <img src="/Testigo_2.png" alt="" />
          <div class="testimonial_text">
            <h3>Persona_2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium non est scelerisque suscipit. Suspendisse ultricies risus rutrum, tempor lacus in, condimentum leo. Suspendisse convallis dictum risus ac egestas. Fusce rutrum ex vel turpis tristique, non mollis sem interdum. Nam.</p>
          </div>
        </div>
        <div class="testimonial_item">
          <img src="/Testigo_3.png" alt="" />
          <div class="testimonial_text">
            <h3>Persona_3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium non est scelerisque suscipit. Suspendisse ultricies risus rutrum, tempor lacus in, condimentum leo. Suspendisse convallis dictum risus ac egestas. Fusce rutrum ex vel turpis tristique, non mollis sem interdum. Nam.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
