.home-container{
    display: flex;
    flex-direction: column;
    
}

.home_container section{
    max-width: 1200px;
}

.home-container .intro{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 100px auto 100px auto;
   
}


.home-container .intro img{
    height: 300px;
    position: relative;
    /* position: absolute; */
    left: 30px;
    top: -50px;
    z-index: 2;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.5);
}

.intro .text_intro{
    max-width: 50%;
    min-width: 20%;
    max-height: 600px;
    position: relative;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px 20px 20px 0px;
    padding: 30px;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.5);

}

.intro .text_intro h2{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px 0px 0px 20px;
}

.intro .text_intro p{
    text-align: left;
    color: black;
    font-size: 18px;
    margin-left: 20px;
    padding: 10px 0px 30px 20px;
    overflow: hidden;
}

.services{
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.services img{
    height: 300px;
    position: relative;
    top: -120px;
    border-radius: 20px;

      box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);

}

.services h2{
    font-size: 30px;
    position: relative;
    top: -40px;

    padding: 0px 0px 0px 20px;
    text-align: center;
}

.services_list{
    position: relative;
    top: -20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px 15px;
    }

.service_item h3{
    padding: 20px;
    margin: 10px;
}

.services .services_action{
    display: flex;
    justify-content: end;
    align-items: center;
}

.services button{
    width: 160px;
    background-color: #CCD5AE;
    font-family: "Amaranth", sans-serif;;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.services button:hover{
    background-color: #D4A373;
    transition: 0.3s;
    color: white;
}

.about_me{
    display: flex;
    max-width: 1200px;
    margin: 100px auto 20px auto;
    justify-content: center;
}

.about_me .about_me_container{
    max-width: 60%;
    margin: 20px 0px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px 0px 0px 20px;
    box-shadow: -6px 6px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}


.about_me img{
    height: 300px;
    border-radius: 20px;
    box-shadow: -6px 6px 8px rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
    position: relative;
    left: -30px;
    top: -100px;
}

.about_me .about_me_container h2{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px 0px 0px 20px;
}

.about_me .about_me_container p{
    text-align: left;
    color: black;
    font-size: 18px;
    margin-left: 20px;
    padding: 10px 30px 30px 20px;
}

.about_me .about_me_action{
    display: flex;
    justify-content: end;
    align-items: center;
}

.about_me .about_me_container button{
    width: 180px;
    background-color: #CCD5AE;
    font-family: "Amaranth", sans-serif;;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}
.about_me .about_me_container button:hover{
    background-color: #D4A373;
    transition: 0.3s;
    color: white;
}

.testimonials{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 20px auto;
}

.testimonials h2{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0px 0px 20px;
    text-decoration: underline;
}

.testimonials .testimonial_container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    padding: 40px;
}

.testimonial_container .testimonial_item{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
} 

.testimonial_item img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: #D4A373 4px solid;
}

.testimonial_item .testimonial_text{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.testimonial_item .testimonial_text h3{
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}
.testimonial_item .testimonial_text p{
    font-size: 16px;
    color: black;
}

@media screen and (max-width: 1100px) {

}