.about_me_contaniner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_me_contaniner h1{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.about_me_section {
    max-width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 50px auto;
}

.about_me_section img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50px;
}

.about_me_section .about_me_text{
    max-width: 70%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 60px 40px 30px 40px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen  and (max-width: 700px){
    .about_me_section img{
    height: 280px;
    width: 280px;
    top: 50px;
}

.about_me_section .about_me_text{
    max-width: 95%;
    padding: 60px 40px 30px 40px;
}
}