<div class="about_me_contaniner">
  <h1>Conoce más sobre tu terapeuta</h1>
  <section class="about_me_section">
    <img src="/Terapeuta.png" alt="" />
    <div class="about_me_text">
      <p>
        Mi camino espiritual comenzó con una búsqueda interior, un deseo
        profundo de comprenderme, sanar mis propias heridas y escuchar la voz de
        mi corazón. En ese viaje, descubrí la guía amorosa de los ángeles y el
        poder transformador de la sanación energética. Hoy, acompaño a otros en
        sus procesos a través de herramientas como la armonización energética,
        la meditación, canalización angelical y el trabajo consciente con el
        niño interior y la relación con nuestros padres. Creo profundamente que
        cada persona guarda en sí misma una pureza y una luz que, al ser
        reconocida, trae paz, claridad y amor a su vida. Con Tu Conexión Pura,
        mi propósito es ofrecer un espacio seguro, amoroso y lleno de luz, donde
        puedas soltar lo que ya no necesitas, recordar tu verdadera esencia y
        abrirte a una vida más plena y consciente.
      </p>
    </div>
  </section>
</div>
